Config/vesktop
Config/oldWaybar
Config/google-chrome
Config/chromium
Config/aseprite
Config/librewolf
Config/obs-studio
Config/pulse
Config/dconf
Config/itch
Config/corectrl
Config/onlyoffice
Config/starship.toml
Config/kritadisplayrc
Config/mimeapps.list
Config/kritarc
Config/gtk-3.0
